button{
    margin-top: 2%;
  }
.card{
  margin-top: 30px;
}
.loader{
  margin-top: 17%;
  color: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.btn{
  background-color: #52b2bf;
  border: 2px solid #fff;
  color: #fff;
}
.btn:hover{
  background-color: #fff;
  color: #63c5da;
  border: 2px solid #52b2bf;
}
